# IDE
.idea/
.vscode
*.log
logs/
*.iml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environment
.venv/

# Environments
.env

# Git
.gitignore
.gitattributes

# Python Installer
pip-log.txt
pip-delete-this-directory.txt

#PDFs
*.pdf